@import url('https://fonts.googleapis.com/css2?family=Actor&family=Anton&family=Gabarito:wght@600&display=swap');
:root{
    --primary-color: #478C4F;
    --secondary-color: #478C4F;
    --accent1-color: #FBFBFF;
    --accent2-color: #F8F1E3;

    --heading-font: 'Anton', serif;
    --paragrah-font: 'Gabarito', serif;

    --nav-background-color: #E7DFC6;
    --nav-link-color: #176087;
    --nav-hover-link-color: #1D84B5;
    --nav-hover-background-color: #FFFFFF;
}
h1,h2,h3{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #111;
	max-width: 1000px;
}
body{
    font-family: var(--paragrah-font);
    padding: 20px;
}
p{
    padding: 25px;
    color: #000;
}
.sociallinks{
    display: flex;
	list-style: none;

}
.sociallinks a{
    display: block;
	padding: 20px;
    color: var(--nav-link-color);
    text-decoration: none;
}
.sociallinks img{
    width: 50px;
    height: 50px;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
	position: absolute;
    left: 550px;
	font-size: 1.5rem;
	color: #478C4F;
}
article{
    width: 100%;
    background-color: #F8F1E3;
    opacity: 0.8;
}
.navigation{
	display: flex;
	list-style: none;
    justify-content: space-evenly;
}
.navigation a{
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}
footer{
    display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: flex-end;
}
.adventure{
    background-color: var(--accent1-color);
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}
.adventure img{
    width: 150px;
    height: 150px;
    text-align: center;
}
.description{
    background-color: var(--accent1-color);
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: top;
}