@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Salsa&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Patrick Hand, Salsa;
    font-size: 1.2em;
    color: #000;
    background-color: azure;
}

header{
    margin: 0 auto;
    width: 600px;
}
h1{
    margin: 1rem;
    font-size: 1.5em;
    color:blue;
    text-align: center;
}
form{
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(1, 1, 1, 0.3);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
label,input,button,select,textarea{
    font-family: Patrick Hand, Salsa;
    font-size: 1em;
    color:#000;
} 
label{
    text-align: left;
    padding-left: 0.5rem;
}
input,select,textarea{
    padding: 1rem;
    font-size: 1.5em;
}
article{
    margin: 3px auto;
    padding: 1.5em;
    background-color: aquamarine;
    opacity: 0.3;
}
button{
    margin: 1rem;
    padding: 1rem;
    color: #000;
    background-color: azure;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}
button:hover{
    background-color: blue;
}
footer{
    margin: 1px auto;
    width: 650px;
    text-align: center;
    font-size: 0.7em;
    color: blue;
    border-top: 1px solid #111;
}
